.InputBox_container {
  display: flex;
  justify-content: center;
  color: whitesmoke;
}
.InputBox_form {
  position: relative;
}
.input_sec {
  width: 60vw;
  border-radius: 30px;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: inset 0 0 5px black;
}
.button {
  position: absolute;
  color: whitesmoke;
  background-color: rgb(63, 63, 149);
  border-radius: 50%;
  font-size: 15px;
  border: none;
  outline: none;
  margin: 8px;
  width: 42px;
  height: 42px;
  right: 0px;
}
.button:hover {
  background-color: rgb(101, 101, 155);
}
.button:active {
  transform: scale(0.8);
}
@media screen and (max-width: 768px) {
}
