@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,500;1,100&display=swap");
:root {
  background-color: rgb(14, 14, 14);
  color: whitesmoke;
}
.app-container .header {
  width: 100%;
  text-align: center;
}
.header h1 {
  font-family: "IBM Plex Serif", serif;
  font-size: 35px;
}
