.InputList_Container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.Active,
.Completed {
  min-width: 80%;
  padding: 10px;
  min-height: 15vh;
  border-radius: 5px;
  margin: 10px 0px;
}
.Completed {
  background-color: rgb(20, 79, 20);
}
/* .Active {
  background-color: rgb(17, 103, 39);
} */
.Completed-header,
.Active-header {
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  display: block;
  margin-bottom: 15px;
}
@media screen and (max-width: 700px) {
  .InputList_Container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .Active,
  .Completed {
    min-width: 95%;
  }
}
